*{
    margin: 0;
    padding: 0;
}

.topo_layout01{
    background-color: aqua;
    height: 10vh;
}

.menu_layout01{
    background-color: blueviolet;
    height: 80vh;
    width: 20vw;
    float: left;
}

.conteudo_layout01{
    background-color: brown;
    height: 80vh;
    width: 80vw;
    position: relative; left: 20vw;
}

.rodape_layout01{
    background-color: gold;
    height: 10vh;
}



.topo_layout02{
    background-color: black;
    height: 10vh;
}

.menuE_layout02{
    background-color: chartreuse;
    height: 80vh;
    width: 10vw;
    float: left;
}

.conteudo_layout02{
    background-color: brown;
    height: 80vh;
    width: 80vw;
    float: left;
}

.menuD_layout02{
    background-color: cyan;
    height: 80vh;
    width: 10vw;
    position: relative; left: 90vw;
}

.rodape_layout02{
    background-color: crimson;
    height: 10vh;
}



.topo_layout03{
    background-color: darkblue;
    height: 10vh;
}

.menu_layout03{
    background-color: cadetblue;
    height: 80vh;
    width: 20vw;
    float: right;
}

.conteudo_layout03{
    background-color: darkgrey;
    height: 80vh;
    width: 80vw;    
}

.rodape_layout03{
    background-color: hotpink;
    height: 10vh;
}


.topo01_layout04{
    background-color: darkcyan;
    height: 10vh;
}

.topo02_layout04{
    background-color: deeppink;
    height: 10vh;
}

.menu_layout04{
    background-color: cadetblue;
    height: 70vh;
    width: 20vw;
    float: right;
}

.conteudo_layout04{
    background-color: darkgrey;
    height: 70vh;
    width: 80vw;    
}

.rodape_layout04{
    background-color: crimson;
    height: 10vh;
}

.topo01_layout05{
    background-color: chartreuse;
    height: 8vh;
}

.menu_layout05{
    background-color: aqua;
    height: 84vh;
    width: 20vw;
}

.rodape_layout05{
    background-color: darkmagenta;
    height: 8vh;
}